# ipython savepoints
.ipynb_checkpoints

# compiled python modules
*.pyc

# backup files
*~

# converted test data files
infer_structcol/tests/test_data/converted*

# Distribution / packaging
build/
*.egg*
